PUBLIC=/var/www
CURRENT=current
RELEASES=releases
ROOT=public
CONFIG=config
STORAGE=storage
SITE_REMOTE=git-remote.conf
SITE_DOMAINS=site-domains.conf
GIT=/var/repo
SSL=/etc/apache2/ssl
GIT_URL=https://raw.githubusercontent.com/jasonagnew/virtue2/master

HTTP_SERVER=apache

SERVER_TIMEZONE="UTC"
PHP_VERISON="latest"


MYSQL_USER="root"
MYSQL_PASS="root"
MYSQL_REMOTE="true"
MYSQL_VERISON="5.5"

