USER=root
PUBLIC=/var/www
CURRENT=current
RELEASES=releases
ROOT=public
CONFIG=config
STORAGE=storage
SITE_REMOTE=git-remote.conf
SITE_DOMAINS=site-domains.conf
GIT=/var/repo
SSL=/etc/http/ssl
GIT_URL=https://raw.githubusercontent.com/jasonagnew/virtue2/master
SSH_PORT=22

HTTP_SERVER=apache

SERVER_TIMEZONE="UTC"
PHP_VERISON="latest"
PHP_NUMBER="7.0"


MYSQL_USER="root"
MYSQL_PASS="root"
MYSQL_REMOTE="true"
MYSQL_VERISON="5.5"

CALLBACK_URL=""
